body {
	color: black;
	font-weight: 900;
	font-family: Arial;
	background-color: green;
	align-items: center;
	justify-content: center;
	text-align: -webkit-center;
	display: block;
	margin: 50px;
}

#winner {
	color: yellow;
	font-size: var(--font1_size);
	font-weight: 900;
	font-family: Arial;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: block;
}